////////////////////////////////////////////////////////////
// Color Variables
////////////////////////////////////////////////////////////
$white: #FFFFFF;
$gray: #CCCCCC;
$black: #000000;

$red: #EB1E23;
$blue: #3F459C;
$green: #97CA3A;
$yellow: #EECF30;


////////////////////////////////////////////////////////////
// Font Variables
////////////////////////////////////////////////////////////
$raleway: "Raleway", "Ubuntu", sans-serif;
$ubuntu: "Ubuntu", "Raleway", sans-serif;
$fontawesome: "FontAwesome";

////////////////////////////////////////////////////////////
// Breakpoints
////////////////////////////////////////////////////////////
$small-breakpoint: 340px;
$medium-breakpoint: 460px;
$large-breakpoint: 930px;
$xl-breakpoint: 1040px;